@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlbertSans';
  src: url('./assets/fonts/AlbertSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InstrumentSans';
  src: url('./assets/fonts/InstrumentSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes popIn {
  0% { transform: scale(0.5); opacity: 0; }
  80% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes confettiLoop {
  0% { transform: translateY(-10%) rotate(0deg); }
  50% { transform: translateY(10%) rotate(180deg); }
  100% { transform: translateY(-10%) rotate(360deg); }
}

.ql-toolbar, .ql-container {
  border: none !important;
}

/* Background colors */
/* .bg-brand-offwhite {
  background-color: #f0f0ec;
}

.bg-brand-charcoal {
  background-color: #373737;
}

.bg-brand-midgrey {
  background-color: #5A5A5A;
}

/* Text colors */
/* .text-brand-offwhite {
  color: #f0f0ec;
}

.text-brand-charcoal {
  color: #373737;
}

.text-brand-midgrey {
  color: #5A5A5A;
} */
